@import './modules/variables.css';
@import './modules/utils.css';
@import './modules/animations.css';
@import './modules/layout.css';
@import './modules/header.css';
@import './modules/nav.css';
@import './modules/hero.css';
@import './modules/list.css';
@import './modules/cards.css';
@import './modules/buttons.css';
.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}
.main{overflow: hidden;
}

