.hero {
    background-image: url('https://images6.alphacoders.com/456/456498.jpg');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    min-height: 100vh;
}

.hero__img {
    position: relative;
    max-width: 256px;
}

.hero__primary-img {
    display: flex;
    background-color: var(--secondary-shadow-color);
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

.hero__decorators {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    animation: t-rotate 10s linear infinite;
}

.hero__decorator {
    position: absolute;
    display: flex;
}

.hero__decorator:nth-child(1) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.hero__decorator:nth-child(2) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.hero__decorator:nth-child(3) {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.hero__decorator:nth-child(4) {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
@media (min-width: 768px) {
    .hero__img {
      max-width: 320px;
    }
  
    .hero__primary-img {
      width: 320px;
      height: 320px;
    }
  }