.p-relative {
    position: relative;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .f-direction-column {
    flex-direction: column;
  }
  .gap-sm {
    gap: calc(var(--padding-section) * 0.5);
  }
  .gap-md {
    gap: var(--padding-section);
  }
  @media (min-width: 768px) {
    .md\:f-direction-row {
      flex-direction: row;
    }
  }