.d-none{
  display: none;
}
.p-relative {
    position: relative;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .f-direction-column {
    flex-direction: column;
  }
  .j-itens-center{
    justify-items: center;
  }
  .gap-sm {
    gap: calc(var(--padding-section) * 0.5);
  }
  .gap-md {
    gap: var(--padding-section);
  }
  .gap-lg{
    gap:calc(var(--padding-section)*1.5)
  }
  @media (min-width: 768px) {
    .md\:d-block {
      display: block;
    }
    .md\:f-direction-row {
      flex-direction: row;
    }
  }